<h1>ACCESSORIES</h1>

<div class="itemSection1">
    <img src="/images/alora-griffiths-aVrZMPgN_Vg-unsplash.jpg" alt="Woman-with-barbell">
</div>
<div class="itemSection2">
     <div class="itemMenu">
         <h3>Filter by..</h3>
      <a href="/shop/equipment">Equipment</a>
      <a href="/shop/apparel">Apparel</a>
      <a href="/shop/accessories">Accessories</a>
     </div>
    
<div id="itemsDisplayed">
     {{#each items}}
        <div class="card">
              <img src="{{image}}">
              <div class="card-body">
                <h4 class="card-title">
                  <h2>{{title}}</h2>
                </h4>
                <h2>Price:{{price}}</h2>
                <a href="/itemdetail/{{_id}}">More...</a><br>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
            {{/each}}
        </div>
</div>



{{!-- <div class="itemParts">
        {{#each items}}
            <h2>{{title}}</h2>
            <h2>Price:{{price}}</h2>
            <div class="links">
            <!--<a href="/delete/{{_id}}">delete Item</a> -->
            </div>
            <img src="{{image}}">
            <a href="/itemdetail/{{_id}}">go to detail page</a><br>
        {{/each}}
    </div> --}}





