<h1> LIST OF ITEMS</h1>
<a href="/user/logout">Logout</a>
<a href="/create">Create new Item</a>


{{#each items}}
<h2>{{title}}</h2>
<h2>Price:{{price}}</h2>
<a href="/delete/{{_id}}">delete Item</a>

<img src="{{image}}">
<a href="/itemdetail/{{_id}}">go to detail page</a><br>
<div>
    <form class='update-form' action="/edit/{{_id}}" method='POST'>
        Title:<br><input type="text" name="title" value="{{title}}"> <br>
        Price:<br><input type="text" name="price" value="{{price}}"> <br>
        Description:<br><input type="text" name="description" value="{{description}}"> <br>
        <button type="submit">Edit Item</button>
    </form>
</div>

{{/each}}